html {
  height: 100%;
}

body {
  background-image: url(penguin-02.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.homeTitle {
  text-align: center;
}
/* #canvasForHTML {

} */
